<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <title>8784</title>
</head>
<body>
<div th:insert="~{fragment/nav :: nav}"></div>
<div class="container">
    <div class="py-5 text-center">
        <h1>登録完了👏👏👏</h1>
    </div>
    <form th:object="${item}">
        <div class="text-center">
            <p for="qrCode">QR コード</p>
            <img id="qrCode" th:src="|data:image/png;base64,${base64}|"/>
        </div>

        <div class="mt-2">
            <label for="name">상품명</label>
            <input type="name" id="name" th:field="*{name}" class="form-control" readonly>
        </div>
        <div>
            <label for="store">구입처</label>
            <input type="text" id="store" th:field="*{store}" class="form-control" readonly>
        </div>
        <div>
            <label for="cost">원가</label>
            <input type="text" id="cost" th:field="*{cost}" class="form-control" readonly>
        </div>
        <div>
            <label for="price">판매가</label>
            <input type="text" id="price" th:field="*{price}" class="form-control" readonly>
        </div>
    </form>

</div>
</body>
</html>